# Entorno virtual de Python
venv/

# Archivo de credenciales secretas
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de caché de la aplicación
cache/

# Archivo de caché de autenticación de Spotipy
.cache